.app {
  background-color: rgb(255, 255, 255);
  height: 80vh;
  padding: 50px;
  text-align: center;
}
.app-feature {
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.app-create-survey,
.app-take-survey {
  width: 90%;
  height: 50px;
  border-radius: 8px;
  margin: 20px;
}

.app-create-survey:hover,
.app-take-survey:hover {
  background-color: rgba(59, 59, 59, 0.925);
  color: white;
  border: 0px solid black;
}
